.navbar {
  background-color: #1e94d2;
  padding: 10px 0;
}

.navbar-toggle {
  color: #FFF !important;
}

.navbar-menu {
  position: fixed;
  background-color: #3a3633;
  top:0;
  bottom: 0;
  margin: 0;
  /*left: 0;
  margin-top: 59px;*/
  right: 0;
  padding: 0;
  width: 210px;
  z-index: 9998;
  list-style: none;
}

.navbar-user {
  padding: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  border-bottom: 1px solid #525151;
}
.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #FFF;
}
