<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="displayingMenu = !displayingMenu">
          <i class="pi pi-bars"> </i>
        </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!displayingMenu">
    <li class="navbar-user">Benjamim</li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/people">Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="/postings">Lançamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="active"><a routerLink="#">Sair</a></li>
  </ul>
</nav>
