<div class="container">
  <form (ngSubmit)="search()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
        <button routerLink="/people/new" pButton type="button" icon="pi pi-file-o" label="Nova Pessoa"></button>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <label for="">Descrição</label>
        <input pInputText type="text" style="width:94%"
          name="name" [(ngModel)]="filter.name">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" icon="pi pi-search" label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="people"
      [responsive]="true"
      [paginator]=true
      [rows]="filter.itemsPerPage"
      [lazy]="true"
      [totalRecords]="totalRegister"
      (onLazyLoad)="changingPage($event)"
      #table>

        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-person>
          <tr>
            <td>
              <span class="ui-column-title">Pessoa</span>
              {{person.name}}
            </td>
            <td>
              <span class="ui-column-title">Estado</span>
              {{person.address.city.state.name}}
            </td>
            <td>
              <span class="ui-column-title">Cidade</span>
              {{person.address.city.name}}
            </td>
            <td>
              <span class="ui-column-title">Status</span>
              <a href="javascript:;" [pTooltip]="person.status ? 'Desativar' : 'Ativar'"
                  tooltipPosition="top" (click)="alterStatus(person)">
                {{person.status ? 'Ativo' : 'Inativo'}}
              </a>
            </td>

            <td class="col-acoes">
              <span class="ui-column-title">Ações</span>
              <button pButton [routerLink]="['/people', person.id]" icon="pi pi-pencil" class="ui-button-warning" pTooltip="Editar" tooltipPosition="top"></button>&nbsp;
              <button pButton icon="pi pi-trash" class="ui-button-danger"
                pTooltip="Excluir" tooltipPosition="top" (click)="confirmRemove(person)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
