<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Novo Lançamento</h1>
    </div>
  </div>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-selectButton name="type" [options]="types" #type [(ngModel)]="posting.type"></p-selectButton>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="">Vencimento</label>
        <p-calendar
          [locale]="ptbr"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          [yearNavigator]="true"
          yearRange="1920:2030"
          [showIcon]="true" name="expirationDate"
          ngModel #expiration="ngModel" [(ngModel)]="posting.expirationDate" required>
        </p-calendar>
        <app-message [control]="expiration" error="required" text="Informe o vencimento"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label for="">{{type.value == 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar
          [locale]="ptbr"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          [yearNavigator]="true"
          yearRange="1920:2030"
          [showIcon]="true"
          [(ngModel)]="posting.paymentDate"
          name="paymentDate">
        </p-calendar>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="">Descrição</label>
        <input type="text" pInputText name="description" [(ngModel)]="posting.description"
          ngModel #description="ngModel" required minlength="5">

          <app-message [control]="description" error="required" text="Informe a descrição"></app-message>
          <app-message [control]="description" error="minlength" text="informe no mínimo {{description.errors?.minlength?.requiredLength}} caracteres."></app-message>
        </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="">Valor</label>
        <input type="text" pInputText name="value" [(ngModel)]="posting.value"
          ngModel #value="ngModel"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',' , allowNegative: false}" required>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Categoria</label>
        <p-dropdown [options]="categories"
         [(ngModel)]="posting.category.id" placeholder="Selecione" name="category" ngModel #category="ngModel" required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Pessoa</label>
        <p-dropdown [options]="people" filter="true"
         [(ngModel)]="posting.person.id" placeholder="Selecione" name="category"></p-dropdown>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <label for="">Observação</label>
        <textarea type="text" pInputTextarea rows="3"
        name="comments" [(ngModel)]="posting.comments"></textarea>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" [disabled]="f.invalid"></button>
        &nbsp;
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        &nbsp;
        <a routerLink="/postings">Voltar para listagem</a>
      </div>
    </div>
  </form>
</div>
