<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Nova Pessoa</h1>
    </div>
  </div>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label for="">Nome</label>
        <input type="text" pInputText name="name" [(ngModel)]="person.name" ngModel #name="ngModel" required minlength="3">
        <app-message [control]="name" error="required" text="Informe o Nome"></app-message>
        <app-message [control]="name" error="minlength" text="informe no mínimo {{name.errors?.minlength?.requiredLength}} caracteres."></app-message>
      </div>
    </div>
    <div class="ui-g">

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="">Logradouro</label>
        <input type="text" pInputText name="place" [(ngModel)]="person.address.place" ngModel #place="ngModel" minlength="5">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="">Numero</label>
        <input type="text" pInputText name="number" [(ngModel)]="person.address.number" ngModel #number="ngModel">
      </div>

    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label for="">Complemento</label>
        <input type="text" pInputText name="complement" [(ngModel)]="person.address.complement" ngModel #complement="ngModel">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label for="">Bairro</label>
        <input type="text" pInputText name="neighborhood" [(ngModel)]="person.address.neighborhood" ngModel #neighborhood="ngModel" minlength="3">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label for="">Cep</label>
        <p-inputMask mask="99.999-999" name="zipcode" [(ngModel)]="person.address.zipcode" ngModel #zipcode="ngModel"></p-inputMask>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Cidade</label>
        <input type="text" pInputText name="city" [(ngModel)]="person.address.city" ngModel #city="ngModel">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Estado</label>
        <input type="text" pInputText name="state" [(ngModel)]="person.address.state" ngModel #state="ngModel">
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button
          pButton type="button" label="Novo Contato" class="ui-button-info" icon="pi pi-plus"
          (click)="prepareNewContact()"
        ></button>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-panel header="Contatos">
          <div class="ui-g">
            <div class="ui-g-12">
              <p-table [value]="person.contacts" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header">Ações</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contact>
                  <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td class="col-acoes">
                      <button pButton icon="pi pi-pencil" class="ui-button-warning" type="button"
                        pTooltip="Editar" tooltipPosition="top"></button>
                        &nbsp;
                      <button pButton icon="pi pi-trash" class="ui-button-danger" type="button"
                        pTooltip="Excluir" tooltipPosition="top"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">
                      Nenhum contato cadastrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" [disabled]="f.invalid"></button>
        &nbsp;
        <button (click)="new(f)" pButton type="button" label="Novo" class="ui-button-info"></button>
        &nbsp;
        <a routerLink="/people">Voltar para listagem</a>
      </div>
    </div>
  </form>
</div>
<p-dialog header="Novo Contato" [(visible)]="displayContactForm" modal="modal" *ngIf="contact">
  <form #frmContact="ngForm" (ngSubmit)="confirmeContact(frmContact)">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>

      <input pInputText type="text" name="name"
        required [(ngModel)]="contact.name" #contactName="ngModel"/>

      <app-message [control]="contactName" error="required" text="Informe o nome"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
        <label>E-mail</label>

        <input pInputText type="email" name="email"
          required email [(ngModel)]="contact.email" #contactEmail="ngModel"/>

        <app-message [control]="contactEmail" error="required" text="Informe o email"></app-message>
        <app-message [control]="contactEmail" error="email" text="Informe um e-mail válido"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Telefone</label>

          <p-inputMask name="phoneNumber" [(ngModel)]="contact.phoneNumber"
            mask="(99) 99999-999?9"></p-inputMask>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Confirmar" [disabled]="frmContact.invalid"></button>
      </div>
  </form>
</p-dialog>
