<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Nova Pessoa</h1>
    </div>
  </div>
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label for="">Nome</label>
        <input type="text" pInputText name="name" [(ngModel)]="person.name" ngModel #name="ngModel" required minlength="3">
        <app-message [control]="name" error="required" text="Informe o Nome"></app-message>
        <app-message [control]="name" error="minlength" text="informe no mínimo {{name.errors?.minlength?.requiredLength}} caracteres."></app-message>
      </div>
    </div>
    <div class="ui-g">

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label for="">Logradouro</label>
        <input type="text" pInputText name="place" [(ngModel)]="person.address.place" ngModel #place="ngModel" minlength="5">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label for="">Numero</label>
        <input type="text" pInputText name="number" [(ngModel)]="person.address.number" ngModel #number="ngModel">
      </div>

    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label for="">Complemento</label>
        <input type="text" pInputText name="complement" [(ngModel)]="person.address.complement" ngModel #complement="ngModel">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label for="">Bairro</label>
        <input type="text" pInputText name="neighborhood" [(ngModel)]="person.address.neighborhood" ngModel #neighborhood="ngModel" minlength="3">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label for="">Cep</label>
        <p-inputMask mask="99.999-999" name="zipcode" [(ngModel)]="person.address.zipcode" ngModel #zipcode="ngModel"></p-inputMask>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Cidade</label>
        <input type="text" pInputText name="city" [(ngModel)]="person.address.city" ngModel #city="ngModel">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="">Estado</label>
        <input type="text" pInputText name="state" [(ngModel)]="person.address.state" ngModel #state="ngModel">
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" [disabled]="f.invalid"></button>
        &nbsp;
        <button (click)="new(f)" pButton type="button" label="Novo" class="ui-button-info"></button>
        &nbsp;
        <a routerLink="/people">Voltar para listagem</a>
      </div>
    </div>
  </form>
</div>
